  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Trouver un gîte</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">

      {{ form_start(form) }}
      <form class="form-a">
        <div class="row">

          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Mot clé</label>
                {{ form_widget(form.keyword) }}
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="price">Prix EUR (hebdomadaire)</label>
              {{ form_widget(form.price) }}
              {{ form_widget(form.price.vars) }}
           
              
           
           
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="surface">Superficie</label>
              {{ form_widget(form.surface) }}
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="people">Nombre de personnes</label>
              {{ form_widget(form.people) }}
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="room">Nombre de chambres</label>
              {{ form_widget(form.room) }}
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="smoker"></label>
              {{ form_widget(form.smoker) }}
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="animal"></label>
              {{ form_widget(form.animal) }}
            </div>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Chercher</button>
          </div>
          
        </div>
      </form>
      {{ form_end(form) }}
      
    </div>
  </div>