{% extends 'base.html.twig' %}

{% block title %}ProductContact index{% endblock %}

{% block body %}
    <h1>ProductContact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_contact in product_contacts %}
            <tr>
                <td>{{ product_contact.id }}</td>
                <td>{{ product_contact.lastName }}</td>
                <td>{{ product_contact.firstName }}</td>
                <td>{{ product_contact.tel }}</td>
                <td>{{ product_contact.email }}</td>
                <td>{{ product_contact.comment }}</td>
                <td>
                    <a href="{{ path('app_product_contact_show', {'id': product_contact.id}) }}">show</a>
                    <a href="{{ path('app_product_contact_edit', {'id': product_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_contact_new') }}">Create new</a>
{% endblock %}
