{% extends 'base.html.twig' %}

{% block title %}OptionCost index{% endblock %}

{% block body %}
    <h1>OptionCost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option_cost in option_costs %}
            <tr>
                <td>{{ option_cost.id }}</td>
                <td>{{ option_cost.price }}</td>
                <td>
                    <a href="{{ path('app_option_cost_show', {'id': option_cost.id}) }}">show</a>
                    <a href="{{ path('app_option_cost_edit', {'id': option_cost.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_option_cost_new') }}">Create new</a>
{% endblock %}
