{% extends 'base.html.twig' %}

{% block title %}OptionCost{% endblock %}

{% block body %}
    <h1>OptionCost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option_cost.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ option_cost.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_option_cost_index') }}">back to list</a>

    <a href="{{ path('app_option_cost_edit', {'id': option_cost.id}) }}">edit</a>

    {{ include('option_cost/_delete_form.html.twig') }}
{% endblock %}
